@model Fatec.AAP4.Web.Models.dre

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>dre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_dre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_dre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
                @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
