
<div class="jumbotron">
    <h1>Bem Vindo Admin!</h1>
    <p>SIM (Sistema Integrado Modular), é um sistema ERP online  capaz de integrar
e agilizar os processos dos departamentos de Venda, Estoque e o Financeiro. </p>
</div>

<div class="col-sm-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Notificações</h3>
        </div>
        <div class="panel-body">
            Sem Notificações
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Mensagens</h3>
        </div>
        <div class="panel-body">
            Sem Mensagens
        </div>
    </div>
</div>
