@model Fatec.AAP4.Web.Models.produto

@{
    ViewBag.Title = "Delete";
}

<h2>Cadastro de produtos</h2>
<h3>Exclusão</h3>

<h3>Você tem certeza que deseja deletar?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_produto)
        </dd>

        <dt>
            Preço Unitário
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_unitario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
                @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
